*, #question, #timeRemaining, #result, #answer, #stats, #correctAnswer, #incorrectAnswer, #unanswered {
    font-family: 'Homemade Apple', cursive;
    font-family: 'Italianno', cursive;
    font-family: 'Black And White Picture', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

#start, #startOver {
    font-size: 50px;
}
html, body {
    height: 0 auto;
    background: url(../images/background.png) no-repeat center center;
}

.container {
    background-size: cover;
    padding-top: 150px;
    color: white;
    background-color: #000000c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% 10%;
    width: 80%;
    min-height: 600px;
    height: 800px;
    padding-top:0;
}

#title {
width: 100%;
height: 120px;;
}

.btn {
    max-width: 100%;
    font-size: 30px;
    margin: 10px;
}

.btn:hover {
    color: #e1a94e;
}

#image {
size: 200px;
}