html, body {
    height: 0 auto;
    background: url(../images/background.png) no-repeat center center;
}

.container {
    background-size: cover;
    padding-top: 150px;
    color: white;
    background-color: #000000ba;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% 10%;
    width: 80%;
    height: 100%;
    padding-top:0;
}

#title {
width: 100%;
}

.btn {
    max-width: 100%;
    font-size: 16px;
    margin: 4px;
}